@page "{id}"
@model HospitalManagementSystem.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Patient Details";
}

<h2 class="mt-4">👤 Patient Details</h2>

@if (Model.Patient == null)
{
    <div class="alert alert-warning">Patient not found.</div>
}
else
{
    <div class="card mt-3 shadow-sm">
        <div class="card-body">
            <h4 class="card-title">@Model.Patient.Name</h4>
            <p class="card-text">
                <strong>Patient ID:</strong> @Model.Patient.PatientId<br />
                <strong>Gender:</strong> @Model.Patient.Gender<br />
                @* <strong>Date of Birth:</strong> @Model.Patient.DOB.ToShortDateString()<br /> *@
                <strong>Age:</strong> @Model.Patient.Age<br />
                <strong>Email:</strong> @Model.Patient.Email<br />
                <strong>Email:</strong> @Model.Patient.Phone<br />
                @* <strong>Address:</strong> @Model.Patient.Address *@
            </p>
            <a asp-page="Index" class="btn btn-secondary mt-2">⬅ Back to List</a>
        </div>
    </div>
}
